html {
    padding: 0;
    margin: 0;
    border: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

header {
    padding-bottom: 60px;
}

p.formulario {
    text-align: center;
    margin: 16px;
    font-weight: bold;
}

div.modal-body {
    padding-top: 0px;
}

#IDConfirmarServ,
#TituloConfirmarServ,
#TipoConfirmarServ,
#PrevisaoConfirmarServ,
#ValorConfirmarServ {
    border: none;
    text-align: center;
    background-color: white;
}

#ValorConfirmarServ {
    color: green;
}



#descCampForm {
    height: 400px;
}

textarea {
    background-color: white;
    border: none;
    resize: none;
}

#system-search {
    margin: 10px;
}

#submit-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-buttom button {
    margin: 10px;
}

.form-control {

    border: none;
    background-color: #f8f9fa;

}

#exampleFormControlTextarea3 {
    padding-bottom: 100px;
}

.error-mensage {
    text-align: center;
    color: green;
    font-weight: bold;
}

.status-mensage {
    text-align: center;
    color: red;
    font-weight: bold;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
#valor_a_receber {
    color: green;
}
#valor_a_pagar {
    color: red;
}
h1,h3 {
    padding: 10px;
}
.inputbutton {
    display: flex;
    padding: 10px;

}
.filter {
    display: flex;
    justify-content: center;
}
.tipoServicoList {
    display: flex;
    justify-content: center;
}
